<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

  <title>UniPoint</title>

  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
      #footer{
          background-image: url("logo.png");
          background-repeat: repeat;
          position:absolute;
          bottom:0;
          height: 5em;
          width: 93%;

          /*background-color: red;*/
      }
  </style>
</head>
<body bgcolor="#f0f8ff">
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/aluno/index" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" style="margin-top: 2em; padding-left: 2em">
          <%= image_tag('logo.png', size: "40") %> <br/>
          <span class="fs-5 d-none d-sm-inline" style="color: black; padding-left: 1em">Unipoint</span>
        </a>
        <button type="button" class="list-group-item list-group-item-action" style="border: none; padding-bottom: 1em; margin-top: 4em">
          <%= image_tag('home-solid.svg', size: "20") %>
          Home
        </button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none; padding-bottom: 1em">
          <%= image_tag('bell-solid.svg', size: "20") %>
          Notificações
        </button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none; padding-bottom: 1em">
          <%= image_tag('chalkboard-solid.svg', size: "20") %>
          Turmas
        </button>
      </div>
    </div>


    <div class="col py-3" style="background-color: #E8EDF5">
      <div class="col" style="margin-left: 2em; margin-right: 2em">
        <div class="row" style="max-width: 100em">
          <div class="col" style="margin-top: 1em">
            <h1>Dashboard</h1>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col" style="margin-top: 1.5em; display: flex; justify-content: flex-end; align-items: center">
            <div class="dropdown" style="margin-left: 1em">
              <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1" style="padding-left: 1em; color: black"><%=@nome %></span>
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Configurações</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout/index">Sair</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 1em">

        <% @semDic == 0 ? nil : @card.each do |disciplinas| %>
        <div class="col-md-4">
          <div class="card" style="margin-top: 4em; border: none; background-color: #c2defc">
            <div class="card-body">
              <h5 class="card-title"><%=disciplinas["nome"] %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%=disciplinas["cod"] %></h6>
              <div class="row" style="margin-top: 2em">
                <!--<div class="col-md-4" style="display: flex; align-items: center">
                  <ul class="list-group list-group-horizontal">
                    <li  style="display: inline">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    </li>
                  </ul>
                </div>-->
                <div class="col" style="display: flex; justify-content: flex-end">
                  <% if disciplinas["valida_periodo"] == true and disciplinas["id_chmd"] == "N" then %>
                    <form action="/abrir_presenca/" method="post">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input value="<%=disciplinas["id"] %>" name="id_disciplina" hidden>
                      <input value="<%=disciplinas["id_chmd"] %>" name="id_chamada" hidden>
                      <button type="submit" class="btn btn-primary" style="background-color: #060A39; border: none">Abrir Presença</button>
                    </form>
                  <% else
                       if disciplinas["valida_periodo"] == true and disciplinas["id_chmd"] != "N" then %>
                        <form action="/presenca/" method="post">
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                          <input value="<%=disciplinas["id_chmd"] %>" name="id_chamada" hidden>
                          <button type="submit" class="btn btn-primary" style="background-color: #060A39; border: none">Fechar Presença</button>
                        </form>
                    <% end
                       if disciplinas["valida_periodo"] == false and disciplinas["id_chmd"] == "N" then%>
                      <button type="button" class="btn btn-primary" style="background-color: #060A39; border: none" disabled>Presença Encerrada</button>
                    <% end
                     end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div class="col-md-4">
          <div class="card" style="margin-top: 4em; border: none; background-color: #ffc756">
            <div class="card-body">
              <h5 class="card-title">Ponto Eletrônico</h5>
              <div class="row" style="margin-top: 2em">
                <div class="col" style="display: flex; justify-content: flex-end">
                  <form action="/professor/" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input value="<%=@tipoPontoP%>" name="tipoPontoPr" hidden>
                    <% if @blck == '8' and @tipoPontoP == 'E' then %>
                      <button type="submit" class="btn btn-primary" style="background-color: #060A39; border: none" disabled>Registrar Agora</button>
                    <%else %>
                      <button type="submit" class="btn btn-primary" style="background-color: #060A39; border: none">Registrar Agora</button>
                    <% end %>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md" style="text-align: center; margin-left: 1.5em">
        <div class="row" style="margin-top: 2em">
          <div class="overflow-auto">
            <div class="card" style="background-color: #eef0f5; border: none">
              <h5 class="card-title" style="padding-top: 1em; display: flex; justify-content: flex-start; padding-left: 1em">Histórico do Ponto</h5>
              <table class="table">
                <thead>
                <th>Data do Registro</th>
                <th>Horário de Entrada 1</th>
                <th>Horário de Saída 1</th>
                <th>Horário de Entrada 2</th>
                <th>Horário de Saída 2</th>
                <th>H.T</th>
                </thead>
                <tbody>
                <%if @retPontoProf == 0 then %>
                <tr>
                  <td style="padding-top: 1em" colspan="6">Nenhum Registro Encontrado</td>
                </tr>
                <%else %>
                <% @tdHorarios.each do |dataHorarios| %>
                <tr>
                  <td style="padding-top: 1em"><%= dataHorarios['data'] %></td>
                  <% dataHorarios['horarios'].each do |horarios| %>
                    <td style="padding-top: 1em"><%= horarios['HORA'] %></td>

                  <%end %>
                  <td style="padding-top: 1em"><%= dataHorarios['horas_trabalhadas'] %></td>
                </tr>
                <% end
                end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
-->
</body>
</html>